body {
    margin: 20px;
}

.social-row {
    margin-bottom: 15px;
}

.social-icon {
    width: 60px;
    height: 70px;
    float: left;
}

.social-body {
    margin: 6px 0px -3px 70px;
}

.social-title {
    font-weight: bold;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-top: 0px;
}

.social-description {
    margin-top: -4px;
}

.social-button {
    width: 100%;
    text-align: start;
    color: #fff;
    border: none;
    padding: 8px 10px 6px 10px;
    margin-bottom: 15px;
}

.social-button:hover,
.social-button:active {
    color: #fff;
    opacity: .7;
}

.social-button:focus {
    color: #fff;
}